/* .page-header {
    background-color: #0978d8;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 10px 10px 10px 40px;

}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
} */

.boldrow tr,
.boldrow th,
.boldrow td {
  border: 3px solid;
  text-align:center;
}

.navbar {
  background-color: #e3f2fd;
}

.navbar-update {
  text-align: right;
}

.v_table {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 50px;
  display: inline-block;
  position:relative;
  overflow:auto;
}

.details_table_padding {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 50px;
}

.button_inline h4 {
  display: inline-block;
  margin: 0;
}

.details_table th,
.details_table td {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px
}

.poss_artefact tr,
.poss_artefact td,
.poss_artefact th {
  background-color: #FFD580;
}

.greyed_out tr,
.greyed_out td,
.greyed_out th {
background-color: darkgray;
}

.calc {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 50px;
  /* max-width: 700px; */
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 40px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #0978d8;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    /* word-wrap: break-word; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 30px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.tab-content{
  text-align: left;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.border-dark {
    border-color: #343a40!important;
}

label {
    font-weight: 400;
}

.white-text{
  color: #ffffff
}
