{% load static %}
<!doctype html>
<html>
    <head>
        <title>Cardiac Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="{% static 'css/cardiac.css' %}">
    </head>
    <!-- <header class="page-header">
          <h1><a href="/table">Cardiac Dashboard</a></h1>
    </header> -->
    <body>

      <!--Navbar-->
      <nav class="navbar navbar-expand-md navbar-blue">
        <a class="navbar-brand" href="{% url 'table' %}">Cardiac Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% url 'table' as url %}
            <li class="nav-item {% if request.path == url %}active{% endif %}">
              <a class="nav-link" href="{{ url }}">Variant Table</a>
            </li>
            {% url 'ps4' as url %}
            <li class="nav-item dropdown {% if request.path == url %}active{% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PS4 Calculator
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.cardiodb.org/ps4_calculator/ps4_calculator.html" target="_blank">CardioDB (Mike's)</a>
                <a class="dropdown-item" href="{{ url }}">Internal</a>
              </div>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PS4 Calculator
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">CardioDB (Mike's)</a></li>
                {% url 'ps4' as url %}
                <li><a class="dropdown-item" href="{{ url }}">Internal</a></li>
              </ul>
            </li> -->
            {% url 'denom' as url %}
            <li class="nav-item {% if request.path == url %}active{% endif %}">
              <a id="sign-up-link" class="nav-link" href="{{ url }}">Denominators</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-right">Last Updated: {{ updated_date }}
      </div>
      </nav>

      {% block content %}
      {% endblock %}

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
