{% extends 'cardiac/base.html' %}
{% load static %}

{% block content %}

<!-- <div class=nav-bar>
  <ul>
    <li><a href="/table">Variant Table</a></li>
    <li><a href="/ps4_calculator">PS4 Calculator</a></li>
    <li><a class="active" href="/denominators">Denominators</a></li>
  </ul>
</div> -->

<div class="details_table_padding">
  <!-- <h3>Variant Details</h3><br> -->
  <ul>
  <div class="row">
  {% for entry in denominators %}
  <div class="col">
      <h4>{{ entry.0.0 }}</h4>
      <table class="details_table">
      <tr>
          <th>Gene</th>
          <th>Value</th>
      </tr>
      {% for gene in entry.1 %}
      <tr>

          <td>{{gene.0}}</td>
          <td>{{gene.1}}</td>

      </tr>
      {% endfor %}
      </table>
  </div>
  {% endfor %}
  </div>
  </ul>


  <!-- <h4>{{denominators.panel.0}}</h4>
  <table>
  <tr>
      <th>Gene</th>
      <th>Value</th>
  </tr>
  <tr>
      <td>{{denominators.gene}}</td>
      <td>{{denominators.total}}</td>
  </tr>
  </table> -->
</div>
{% endblock %}
