{% extends 'cardiac/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <div class=nav-bar>
  <ul>
    <li><a href="/table">Variant Table</a></li>
    <li><a class="active" href="/ps4_calculator">PS4 Calculator</a></li>
    <li><a href="/denominators">Denominators</a></li>
  </ul>
</div> -->

<div class=calc>
  <!-- <h4>PS4 Calculator using odds ratios (OR)</h4> <br> -->
  <!-- <div class="card border-dark mb-3"> -->
    <div class="tab-content">
      <div class="col">

      <form method="POST" >{% csrf_token %}
          {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
          {% endif %}

          <div class="row">
            {{ form.cases_AC|as_crispy_field }}
            {{ form.cases_AN|as_crispy_field }}
          </div>
          <div class="row">
            {{form.controls_AC|as_crispy_field}}
            {{form.controls_AN|as_crispy_field}}
          </div>
          <div class="row">
            {{form.strong_OR|as_crispy_field}}
            {{form.strong_CI|as_crispy_field}}
          </div>
          <div class="row">
            {{form.moderate_OR|as_crispy_field}}
            {{form.moderate_CI|as_crispy_field}}
          </div>
          <div class="row">
            {{form.supporting_OR|as_crispy_field}}
            {{form.supporting_CI|as_crispy_field}}
          </div>

          <button class="btn btn-success" type="submit">Calculate PS4 Value</button>
      </form>

      <br>
      </div>

      <div class="card">
        {{ text1 }}
        <br><br>
        {{ text2 }}
        <br>
        {{ text3 }}<br> {{ text4 }}<br> {{ text5 }}
        <br><br>
        {{ text6 }}<b>{{ text7 }}</b>
        <br><br>
      </div>
    </div>
  <!-- </div> -->
</div>
</div>

{% endblock %}

<!-- <label for="supporting-OR">Supporting</label>
<input type="number" min=0 value=5 name="supporting-OR" required>
<input type="number" min=0 value=95 name="supporting-CI" required> -->


<!-- <form action="odds_ratio", method="POST">{% csrf_token %}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="num1">Cases - Allele Count</label>
      <div class="input-group">
        <input type="number" min=0 placeholder="Cases" name="num1" required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for ="num2">Cases - Allele Number</label>
      <div class="input-group">
        <input type="number" min=0 placeholder="Cases" name="num2" required>
      </div>
    </div>
  </div>
  <br />

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="num3">Controls - Allele Count</label>
      <div class="input-group">
        <input type="number" min=0 placeholder="Controls" name="num3" required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="num4">Controls - Allele Number</label>
      <div class="input-group">
        <input type="number" min=0 placeholder="Controls" name="num4" required>
      </div>
    </div>
  </div>
  <br />

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="strong-OR">Strong</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">OR ≥</span>
        </div>
        <input type="number" min=0 value=20 name="strong-OR" aria-describedby="inputGroupPrepend" required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="white-text" for="strong-CI">. </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">CI %</span>
        </div>
        <input type="number" min=0 value=95 name="strong-CI" aria-describedby="inputGroupPrepend"required>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="moderate-OR">Moderate</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">OR ≥</span>
        </div>
        <input type="number" min=0 value=10 name="moderate-OR" aria-describedby="inputGroupPrepend" required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="white-text" for="moderate-CI">. </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">CI %</span>
        </div>
        <input type="number" min=0 value=95 name="moderate-CI" aria-describedby="inputGroupPrepend"required>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="supporting-OR">Supporting</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">OR ≥</span>
        </div>
        <input type="number" min=0 value=5 name="supporting-OR" aria-describedby="inputGroupPrepend" required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="white-text" for="supporting-CI">. </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">CI %</span>
        </div>
        <input type="number" min=0 value=95 name="supporting-CI" aria-describedby="inputGroupPrepend"required>
      </div>
      <br />
    </div>
    <div class="col-md-6 mb-3">
      <input class="btn btn-success" type="submit" value="Calculate PS4 Value">
    </div>
  </div>

</form>
<br>

<div class=card>
  <div class="card-body">
    <br>
    {{result2}}
    <br>
  </div>
</div> -->
