{% extends 'cardiac/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load querystring from django_tables2 %}
{% block content %}

<!-- <div class="nav-bar">
  <ul>
    <li><a class="active" href="/table">Variant Table</a></li>
    <li><a href="/ps4_calculator">PS4 Calculator</a></li>
    <li><a href="/denominators">Denominators</a></li>
  </ul>
</div> -->

<!-- <div class="details_table">
  <h3>Variant Table</h3>
</div> -->
<div class="v_table">
    {% if filter %}
    <form method="get">
          <div class="row">
              {{ filter.form.alamut|as_crispy_field}}
              {{filter.form.g_nomen|as_crispy_field}}
          </div>
          <div class="row">
              {{filter.form.ref_seq|as_crispy_field}}
              {{filter.form.gene|as_crispy_field}}
              {{filter.form.c_nomen|as_crispy_field}}
              {{filter.form.variant_type|as_crispy_field}}
          </div>
          <input type="submit" />
          <a href="{% querystring '_export'='csv' %}">
            <input class="btn btn-success float-right" type="button" value="Download CSV" /></a><br><br>
    </form>
    {% endif %}



    {% if table %}
    <div class="table-responsive">
        {% render_table table %}
    </div>
    {% endif %}
</div>
{% endblock %}
