{% extends 'cardiac/base.html' %}
{% load static %}

{% load render_table from django_tables2 %}
<!-- {% url 'variant_detail' pk=variant.pk %} -->

{% block content %}

<!-- <div class="nav-bar">
  <ul>
    <li><a class="active" href="/table">Variant Table</a></li>
    <li><a href="/ps4_calculator">PS4 Calculator</a></li>
    <li><a href="/denominators">Denominators</a></li>
  </ul>
</div> -->
<!-- href="/variant/{{record.variant_ID}} -->

<script type="text/javascript">
function httpGetFocusOn(focus) {
	var xmlHttp = null;
	xmlHttp = new XMLHttpRequest();
	if (xmlHttp) {
		xmlHttp.open( "GET", "http://localhost:10000/show?request="+focus, true );
		xmlHttp.send(null);
	}
}
</script>

<div class="details_table_padding">
  <div class="button_inline">
    <h4>{{variant.ref_seq}}({{variant.gene}}):{{variant.c_nomen}}{{variant.p_nomen_edit}}</h4>
    <!-- <base href="variant/{{variant.variant_ID}}"> -->
    <a href="varaint_details_csv">
      <input class="btn btn-success float-right" type="button" value="Download CSV" /></a>
    <a>
      <input class="btn btn-secondary float-right" style="margin-right:16px" type="button" onclick='httpGetFocusOn("{{alamut_link}}");' value="Alamut" /></a>
    <!-- <input class="btn btn-success float-right" type="button" value="Download CSV" /> -->
    <!-- <input class="btn btn-primary float-right" type="button" value="Download pdf" /> -->
  </div>
  <h4>Chr{{variant.chr}}({{variant.build}}):{{variant.genome_change_edit}}</h4><br>
  <h3>Variant Details</h3>
  <table class="details_table">
  <tr>
      <th>Genomic location</th>
      <th>Gene</th>
      <th>Ref</th>
      <th>Alt</th>
      <th>Ref Seq</th>
      <th>Variant Type</th>
      <th>c.nomen</th>
      <th>p.nomen</th>
  </tr>
  <tr>
      <td>{{variant.g_nomen}}</td>
      <td>{{variant.gene}}</td>
      <td>{{variant.ref_base}}</td>
      <td>{{variant.alt_base}}</td>
      <td>{{variant.ref_seq}}</td>
      <td>{{variant.variant_type}}</td>
      <td>{{variant.c_nomen}}</td>
      <td>{{variant.p_nomen}}</td>
  </tr>
  </table>
</div>

<div class="details_table_padding">
  <h3>Summary Cases</h3>
  <table>
  <tbody class="details_table">
  <tr>
      <th>Condition</th>
      <th>Cases</th>
      <th>Homozygotes</th>
      <th>Denominators</th>
  </tr>
  {% if not denominators.DCM %}<tr class="greyed_out">
  {% else %}<tr>
  {% endif %}
      <td>DCM</td>
      <td>{% if denominators.DCM %}{{panels.DCM.0}}{% endif %}
      </td>
      <td>{% if denominators.DCM %}{{panels.DCM.1}}{% endif %}
      </td>
      <td>{{denominators.DCM}}</td>
      {% if denominators.DCM %}
        <td><button type="button"><a href="{% url 'ps4' %}?AC={{panels.DCM.0}}&AN={{denominators.DCM}}">PS4 Calculator</a>
            </button></td>
      {% endif %}
  </tr>
  {% if not denominators.HCM %}<tr class="greyed_out">
  {% else %}<tr>
  {% endif %}
      <td>HCM</td>
      <td>{% if denominators.HCM %}
          {{panels.HCM.0}}
          {% endif %}
      </td>
      <td>{% if denominators.HCM %}
          {{panels.HCM.1}}
          {% endif %}
      </td>
      <td>{{denominators.HCM}}</td>
      {% if denominators.HCM %}
        <td><button type="button"><a href="{% url 'ps4' %}?AC={{panels.HCM.0}}&AN={{denominators.HCM}}">PS4 Calculator</a>
            </button></td>
      {% endif %}
  </tr>
  {% if not denominators.ARVC %}<tr class="greyed_out">
  {% else %}<tr>
  {% endif %}
      <td>ARVC</td>
      <td>{% if denominators.ARVC %}{{panels.ARVC.0}}{% endif %}
      </td>
      <td>{% if denominators.ARVC %}{{panels.ARVC.1}}{% endif %}
      </td>
      <td>{{denominators.ARVC}}</td>
      {% if denominators.ARVC %}
      <td><button type="button"><a href="{% url 'ps4' %}?AC={{panels.ARVC.0}}&AN={{denominators.ARVC}}">PS4 Calculator</a>
          </button></td>
      {% endif %}
  </tr>
  {% if not denominators.ARVC %}</div>{% endif %}
  </tbody>
  <div class="boldrow">
  <tr class="boldrow">
      <th class="boldrow">Total</th>
      <td class="boldrow">{{panels.Total.0}}</td>
      <td class="boldrow">{{panels.Total.1}}</td>
  </tr>
  </div>
  </table><br>
  <a href={{gnomad_link}} target ="_blank">
    <input class="btn btn-primary" type="button" value="Open gnomAD Variant Page" /></a>
  <!-- <input class="btn btn-success float-right" type="button" value="Download CSV" /> -->
  <!-- <input class="btn btn-primary float-right" type="button" value="Download pdf" /> -->
  <!-- <button type="button">
      <a href={{gnomad_link}} target ="_blank">Open gnomAD Variant Page</a>
  </button> -->
</div>



<div class="details_table_padding">
  <h3>Sample Information</h3>
  <table class="details_table">
  <tr>
      <th>StarLIMS_ID</th>
      <th>MID</th>
      <th>Panel</th>
      <th>Worklist</th>
      <th>Read Count</th>
      <th>Score</th>
      <th>Frequency</th>
      <th>Homozygous?</th>
      <th>Possible Artefact?</th>
  </tr>
  {% for occurence in occurences %}
  {% if occurence.poss_artefact %}<tr class="poss_artefact">
  {% else %}<tr>
  {% endif %}
        <td>{{occurence.starlims_ID}}</td>
        <td>{{occurence.mid}}</td>
        <td>{{occurence.panel}}</td>
        <td>{{occurence.worklist}}</td>
        <td>{{occurence.coverage}}</td>
        <td>{{occurence.score}}</td>
        <td>{{occurence.frequency}}</td>
        <td>
        {% if 'Heterozygous' in occurence.homo_hetero %}
            Heterozygous
        {% elif 'Homozygous' in occurence.homo_hetero %}
            Homozygous
        {% endif %}
        </td>
        <td>{{occurence.poss_artefact}}</td>
      </tr>
  {% endfor %}
  </table>
</div>
<br><br>

{% endblock %}
